@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$font1:'Yanone Kaffeesatz';
$font2:'Quicksand';
$color1: HSLA(252, 9%, 22%, 1); /*shark*/
$color2: HSLA(178, 13%, 40%, 1); /*dark green*/

/*.demo { width: 620px }*/

.mainList{
  width: 20%;
}



ul { 
  padding: 2em; 
  color:#ddd; 
  list-style: none; }

.mywandrlst{
  width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  right: 5px;
}

#draggable { background: #444; }
#droppable { background: #444; }

.body{
  border: solid 1px gray;
 /* width: 15%;*/
  float: right;
  /*position: absolute;*/
  right: 10px;
  top: 0;

}

.save{
  border: solid 1px black;
}

body {
  font-family: $font1;
}


h1{
  font-family: $font2;
  z-index: 100;
}
h2{
  font-family: $font1;
}
h3{
  font-family: $font2; 
}
h4{
  font-family: $font1;
}
h5{
  font-family: $font2;
}

button{
  background-color: $color1;
  font-family: $font2
}

a{
  text-decoration: none;
  color: gray;
}

.hero-unit {
  padding: 0px;
  margin-top: -10px;
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
#map_canvas {
  width: 100%;
  height: 400px;
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: .7em .5em 1em .5em;
}

#map_canvas .firstHeading {
  font-family: $serif;
  font-size: 1.4em;
  margin-bottom: .4em;
}

#map_canvas .bodyContent p {
  font-family: $sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}

#map_canvas .bodyContent p:last-of-type {
  border-top: 1px solid $color1;
  margin-top: .5em;
  padding-top: .3em;
}

.image-gradient-dynamic {
  $image-gradient-color-top: gray; 
  $transparency-top: .9;
  $image-gradient-color-bottom: white; 
  $transparency-bottom: .6;
  $vertical-angle: 0deg;

  $image-gradient-color-left: gray; 
  $transparency-left: .8;
  $image-gradient-color-right: white; 
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  position: relative;
  z-index: 0;
  margin-top: -100px;
  line-height: 0;
  width: 100%;
  margin-bottom: $base-line-height;  

  img {
   width: 100%;
   height: auto;
   position: relative;
   top: 0;
   left: 0; 
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));

    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}
.angular-google-map-container{
  height: 400px;
  width:100% ;
}

.menu{
  float: left;
  width: 10%;
  background-color: gray;
  height: 1000px;
  margin-top: -50px;
}
.logout{
  margin-top: 50px;
  background-color: $color2;
  margin-left: 5px;
}
form{
  width: 300px;
}
#map { height: 180px; }

li{
  display: inline-block;
  border: solid 1px black;
  margin: 5px;
  padding: 2px 5px;
  cursor: crosshair;
  
}
.addForms{
  width: 30%;
  float: left;
}
.allResults{
  width: 30%;
  border: solid 1px gray;
  padding: 5px;
  margin: 5px;
  float: right;
 
}
/*modal */
.modal {
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 235px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @extend button;
    font-family: $font2;
  }

  .modal-open {
    overflow: scroll;
  }

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: scroll;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p.body, p.intro {
      font-size: $base-font-size;
      max-width: 100% !important;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body { 
        color: $base-font-color;
        line-height: 1.45em;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

 /*Based on code by Kasper Mikiewicz*/


/* modal */

@media (max-width: 700px){

  li{
/*    display: inline-block;
*/  width: 40%;
    margin: 2px;
    padding: 3px;
    text-align: center;
    
  }

  .mainList{
  width: 40%;
  }
  #inputs{

  }
    

}
