@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$font1:'Yanone Kaffeesatz';
$font2:'Quicksand';
$color1: HSLA(252, 9%, 22%, 1); /*shark*/
$color2: HSLA(178, 13%, 40%, 1); /*dark green*/

/*.demo { width: 620px }*/

.mainList{
  width: 20%;
}

ul { 
  padding: 2em; 
  color:#ddd; 
  list-style: none; }

.mywandrlst{
  width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  right: 5px;
}

#draggable { background: #444; }
#droppable { background: #444; }

.body{
  border: solid 1px gray;
 /* width: 15%;*/
  float: right;
  position: absolute;
  right: 10px;
  top: 0;

}

.save{
  border: solid 1px black;
}

body {
  font-family: $font1;
}


h1{
  font-family: $font2;
}
h2{
  font-family: $font1;
}

button{
  background-color: $color1;
}

a{
  text-decoration: none;
  color: gray;
}

.hero-unit {
  padding: 0px;
  margin-top: -10px;
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
#map_canvas {
  width: 100%;
  height: 400px;
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: .7em .5em 1em .5em;
}

#map_canvas .firstHeading {
  font-family: $serif;
  font-size: 1.4em;
  margin-bottom: .4em;
}

#map_canvas .bodyContent p {
  font-family: $sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}

#map_canvas .bodyContent p:last-of-type {
  border-top: 1px solid $color1;
  margin-top: .5em;
  padding-top: .3em;
}

.image-gradient-dynamic {
  $image-gradient-color-top: gray; 
  $transparency-top: .9;
  $image-gradient-color-bottom: white; 
  $transparency-bottom: .6;
  $vertical-angle: 0deg;

  $image-gradient-color-left: gray; 
  $transparency-left: .8;
  $image-gradient-color-right: white; 
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  position: relative;
  line-height: 0;
  width: 100%;
  margin-bottom: $base-line-height;  

  img {
   width: 100%;
   height: auto;
   position: relative;
   top: 0;
   left: 0; 
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));

    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}
.angular-google-map-container{
  height: 400px;
  width:100% ;
}

.menu{
  float: left;
  width: 10%;
  background-color: gray;
  height: 1000px;
  margin-top: -50px;
}
.logout{
  margin-top: 50px;
  background-color: $color2;
  margin-left: 5px;
}
form{
  width: 300px;
}
#map { height: 180px; }

li{
  display: inline-block;
  border: solid 1px black;
  margin: 5px;
  padding: 2px 5px;
  cursor: crosshair;
  
}
.addForms{
  width: 30%;
  float: left;
}
.allResults{
  width: 30%;
  border: solid 1px gray;
  padding: 5px;
  margin: 5px;
  float: right;
 
}


#inputs{
  float: left;
}

#results{
  float: right;
}

@media (max-width: 700px){

  li{
/*    display: inline-block;
*/    width: 40%;
    margin: 2px;
    padding: 3px;
    text-align: center;
  }

  .mainList{
  width: 40%;
  }
  #inputs{

  }
    

}
