<h1>Explore</h1>

<div id="user"></div>

<button ng-click="logout()">log out</button>
<button ng-click="userProfile()">Profile</button> 


    <div class="container">
    {{title}}
    <ul>

<div class="modal"> <!-- modal -->
  <label for="modal-1">
    <div class="btn js-btn">Add to the List</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
    <h4>Add to the Wandrlst</h4>
      <h4>{{city.name}} | {{city.country}}</h4>

      <form id='addForm' ng-submit='addCity(city)'>
      <div class="body">
        <input type="text" ng-model="city.name" placeholder="name"></input>
      </div>
      <div class="body">
        <input type="text" ng-model="city.country" placeholder="country"></input>
      </div>
<button>Add</button>
       </form>


    </div>
  </div>
</div> <!-- end modal -->

        <li class="mainList" ng-repeat="city in cities" id="{{city.objectId}}" ng-click="getOneCity(city.objectId)">
            
            <span  >
                {{city.name}}  |  {{city.country}}
            </span>
        </li>
        <li ng-if="new"></li>
    </ul>
    <hr/>
</div>
<!-- 
  <ui-gmap-google-map center='map.center' id="map_canvas" zoom='map.zoom'></ui-gmap-google-map>  -->

<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/chelseafranz3.ke684j7a/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiY2hlbHNlYWZyYW56MyIsImEiOiItY01TaEpJIn0.JaYH9lRg1C_GmkfW0jtAXQ'></iframe>