<h1>Login/Signup</h1>
      <div class="usersStuff" ng-controller="UserController">
    <form id="userForm" ng-submit="login(user)">
        <input type="text" ng-model="user.username" placeholder="enter username"></input>
        <input type="password" ng-model="user.password" placeholder="password"></input>
        <button >Login</button>
    </form>
    <button ng-click="addUser(user)">Register</button>
    </div>


        <button ng-click="currentUser(user)">Check Login</button>
<div class="image-gradient-dynamic">
  <img src="https://s3.amazonaws.com/uploads.hipchat.com/31349/1240363/y1CHLszmz5KQlKd/3178110524_e8ae185fdb_o.jpg" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <p>Explore like a local.</p>
  </div>
</div>